doctype html
html(lang='en')
  include head.pug
  body
    include header.pug
    section.space
      .page-hero.bg-purple.space
        .hero-text-bg
          h2 About Me
          hr.center
          p
            em I really like what I do for a living.
      .container.grid.grid--top
        .grid-1of3.grid-1of1--palm
          h3 Before...
          hr.small
          p
            | For four years I was a cog-in-a-wheel, with a focus on human resources administration. I learned that it was not for me.
          p In 2016, I escaped the mythical adulthood prison to follow my calling.
          p
            | I upgraded my skills at HackerYou when I found out that marquee tags and hit counters from my Angelfire/Geocities days were sadly phased out.
        .grid-1of3.grid-1of1--palm
          h3 Today...
          hr.small
          p
            | I collaborate with designers, project managers, and clients to code their visions into engaging experiences.
          p
            | On the side, I 
            a(href='hireme.html') teach
            |  beginners web development and makeover websites in-kind to select charitable organizations.
        .grid-1of3.grid-1of1--palm
          h3 Tomorrow...
          hr.small
          p
            | I hope to lift up junior developers to have the resources I wish I had when I started out.
          p I would like to teach more. I feel strongly about growing and nurturing people.
    include contact.pug
    include scripts.pug