section#contact.contact.space
  h2 Contact Me
  hr.center
  nav
    ul
      li
        a(href='mailto:justinecodes@gmail.com')
          i.fa.fa-envelope-o(aria-hidden='true')
          |  Email
      li
        a(href='http://twitter.com/justinecodes', target='_blank')
          i.fa.fa-twitter-square(aria-hidden='true')
          |  Twitter
      li
        a(href='http://linkedin.com/in/justinechiu', target='_blank')
          i.fa.fa-linkedin-square(aria-hidden='true')
          | LinkedIn
      li
        a(href='http://github.com/justinechiu', target='_blank')
          i.fa.fa-github(aria-hidden='true')
          |  Github
