head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Justine Chiu - Front End Web Developer based in Toronto, Canada
  link(href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Montserrat:400,500', rel='stylesheet')
  link(rel='stylesheet', href='styles/style.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  meta(name='theme-color', content='#3B1261')
  meta(name='title', content='Justine Chiu - Toronto-Based Front-End Developer, Speaker, Educator')
  meta(name='description', content='Toronto-Based Front-End Developer, Speaker, Educator')
  meta(property='og:site_name', content='Justine Chiu - Toronto-Based Front-End Developer, Speaker, Educator')
  meta(property='og:type', content='website')
  meta(property='og:title', content='Justine Chiu - Toronto-Based Front-End Developer, Speaker, Educator')
  meta(property='og:description', content='Toronto-Based Front-End Developer, Speaker, Educator')
  meta(property='og:url', content='http://justine.codes')
  meta(property='og:image', content='http://justine.codes/assets/justine-chiu-b.jpg')
  meta(name='twitter:title', content='Justine Chiu - Toronto-Based Front-End Developer, Speaker, Educator')
  meta(name='twitter:description', content='Toronto-Based Front-End Developer, Speaker, Educator')
  meta(name='twitter:image:src', content='http://justine.codes/assets/justine-chiu-b.jpg')
  meta(name='twitter:card', content='summary_large_image')
  link(rel='shortcut icon', href='http://justine.codes/assets/favicon.png', type='image/x-icon')

