header
  .container.combo
    .logo.combo-first
      a(href='/') JC
    nav.combo-last
      ul
        li
          a(href='about.html') About
        li
          a(href='portfolio-dev.html') Portfolio
        li
          a(href='portfolio-insights.html') Insights
        li
          a(href='hireme.html') Hire Me
