doctype html
html(lang='en')
  include head.pug
  body
    include header.pug
    section.space
      .page-hero.bg-purpleGreen.space
        .hero-text-bg
          h2 Insights
          hr.center
          p
            em All I do is feel.
      .container.grid.grid--top
        .grid-1of3.grid-1of1--palm
          h3 @JustineCodes on Medium
          hr.small
          p I aim to blog once a month, but typically only when epiphanies strike, which are typically once a month anyway.
          p.btn-wrapper
            a.btn.draw(href='http://medium.com/@JustineCodes') Read Blog
        .grid-1of3.grid-1of1--palm
          h3 Webinars & Talks
          hr.small
          p
            | Slides for past presentations and talks are posted here if they're not terrible.
          p.btn-wrapper
            a.btn.draw(href='/resources.html') Resources
        .grid-1of3.grid-1of1--palm
          h3 Club FED
          hr.small
          p
            | An internal weekly education initiative where my colleagues gather together to chat anything related to front-end development. I flex my planning and facilitation skills, as encourage my colleagues to share their expertise in their craft.
    include contact.pug
    include scripts.pug